<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="account_count" data-view="Table" data-title="Bus Information"></div>
    </li>
  </ul>

</div>
